#logo
{
    width: 5rem;
    height: 2rem;
    padding-left: 0.5rem;
}

#nav-button
{
    display: inline-block;
    position: relative;
}

#nav-button::after
{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 10%;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-in-out;

}

#nav-button:hover::after
{
    transform: scaleX(1);
    transform-origin: bottom left;
}

#carousel-image
{
    width: 1rem;
    height: 1.5rem;
}